.App {
  font-family: "Chau Philomene One", sans-serif;
}

.homepage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.choose-type {
  padding-bottom: 5px;
}

button {
  margin: 5px;
  padding: 8px;
}

button:hover {
  background-color: rgb(214, 213, 213);
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: rgb(211, 117, 29);
}

.writepage {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: chocolate;
  color: white;
}

.user-post-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-post,
img,
textarea,
input {
  box-shadow: 5px 5px 20px rgba(161, 97, 44, 0.863);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding-left: 8px;
  border-radius: 15px;
}

img {
  height: 60vh;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
textarea,
button,
.option-dropdown {
  border-radius: 6px;
}

.user-text {
  height: 365px;
  width: 360px;
  max-width: 600px;
}

@media only screen and (max-width: 700px) {
  .homepage {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .writepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
