.App {
  /* font-family: "Chau Philomene One", sans-serif; */
}

body {
  background-color: rgb(255, 238, 212);
}

.homepage,
.footers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.health-page {
  display: flex;
  flex-direction: column;
}

.choose-type {
  padding-bottom: 5px;
}

button {
  margin: 5px;
  padding: 8px;
}

a {
  padding: 0 30px 0 30px;
}

.writepage {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: chocolate;
  color: white;
  justify-content: space-evenly;
}

.user-post-time {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.user-post,
img,
textarea,
input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  padding: 6px;
  border-radius: 6px;
  background-color: rgba(211, 117, 29, 0.199);
}

img {
  height: 60vh;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
textarea,
button,
.option-dropdown {
  border-radius: 6px;
}

.user-text {
  height: 365px;
  width: 360px;
  max-width: 600px;
}

p {
  padding: 0px 10px 0px 10px;
}

@media only screen and (max-width: 700px) {
  .homepage {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .writepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 700px) {
  .header {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
